$fontMontserrat: 'Montserrat', sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;

$mainTextColor: #314a5b;
$textColor: #9aa0ab;
$titleColor: #465065;

$attentionColor: #fa5c65;

$teamColor: #f0454c;